body {
    color: #393d40;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-top: 50px;
}

.navbar {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
}

.navbar-custom {
    background: #fff;
}

.cover-img {
    position: absolute;
    width: 100%;
    left: 0;
    max-height: 400px;
    overflow: hidden;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}


.article-container {
    margin-top: 400px;
    padding: 20px 0px;
}

.article-panel {
    margin-bottom: 60px;
}

/*Medium  Editor*/

.article-body > h2 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 400;
}

.article-body > h3 {
    font-size: 22px;
    font-weight: 600;
    color: #888888;
}

.article-body > p {
    font-size: 16px;
    margin-bottom: 22px;
    line-height: 30px;
}

/*Medium Editor*/

.header {
    padding-top: 30px;
}

.header h1 {
    font-family: 'Lobster', cursive;
}

.section {
    margin-top: 40px;
    border-bottom: 1px solid #ddd;
}

.section a:link {
    color: #393d40;
    text-decoration: none;
}

.section a:hover {
    color: #666;
    text-decoration: none;
}

.section a:active {
    color: #393d40;
    text-decoration: none;
}

.section a:visited {
    color: #393d40;
    text-decoration: none;
}

.read-more {
    margin-top: 20px;
    margin-bottom: 20px;
}

.block {
    border-top: 1px solid #ddd;
    padding: 20px 0px;
}

.comment-label {
    margin: 0px;
}

p.comment-user {
    font-size: 20px;
    margin: 0px;
}

p.comment-datetime {
    margin: 0px;
}

p.comment-body {
    font-size: 20px;
    margin-top: 20px;
}

textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

.user-comment {
    float: left;
}

pre {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    padding: 13px 17px;
    line-height: 1.8;
}